

.main-conteiner{
  margin: 1rem 0.5rem 0.5rem 5rem;
  color: rgba(0, 0, 0, 0.6);
}

.figure{
    margin-left: 5rem;
}
#memorian{
  margin: 0;
  height: 20rem;
}

/*-- Banner --*/

.banner-area {
background-blend-mode: soft-light;
  position: relative;
  min-height: 300px;
  color: #fff;
  background-image: url(/assets/emcor1.jpg);
  background-color: #1b2024;
  background-position: 50% 50%;
  background-size: cover;
}

.banner-title {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  color: #fff;
  text-transform: uppercase;
  font-size: 45px;
  font-weight: 900;
  @include tablet {
    font-size: 48px;
  }
  @include mobile {
    font-size: 32px;
  }
}

.banner-text {
  position: absolute;
  top: 75%;
  left: 0;
  right: 0;
  max-width: 1170px;
  margin: 0 auto;
  width: 100%;
  z-index: 1;
  transform: translateY(-50%);
}

.banner-heading {
  text-align: center;
}

.breadcrumb {
  background: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 12px;
  li a,
  .breadcrumb-item,
  li a:focus,
  li a:hover {
    color: #fff !important;
  }
  .breadcrumb-item+.breadcrumb-item::before {
    color: #fff;
  }
}

.card-img{
  
}